/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 7, 2016, 11:24:27 AM
    Author     : steven.vandenberghe
*/

@charset "UTF-8";
/* desertlife_menu.css dropdownmenu
een horizontaal dropdown menu, enkel met CSS3
*/

/* hoofdmenu styles */
.hor_dropdown_menu {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;   /* 16px */
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+50,de47ac+100;Pink+3D */
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
    
    box-shadow: 0 0.25em 0.375em rgba(0,0,0, .5);
    -moz-box-shadow: 0 0.25em 0.375em rgba(0,0,0, .5);
    -webkit-box-shadow: 0 0.25em 0.375em rgba(0,0,0, .5);
}
/* hoofdniveaus */
.hor_dropdown_menu li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0;
}
.hor_dropdown_menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.6em 1.25em;
}
/* submenus */
.hor_dropdown_menu ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    width: 12em;
    background: #D566D5;
    
    box-shadow: 0 0.25em 0.375em rgba(0,0,0, .5);
    -moz-box-shadow: 0 0.25em 0.375em rgba(0,0,0, .5);
    -webkit-box-shadow: 0 0.25em 0.375em rgba(0,0,0, .5);
    
    /* transition */
    -moz-transition: opacity .25s linear, visibility .1s linear .1s;
    -webkit-transition: opacity .25s linear, visibility .1s linear .1s;
    -o-transition: opacity .25s linear, visibility .1s linear .1s;
    -transition: opacity .25s linear, visibility .1s linear .1s;
}
.hor_dropdown_menu ul li {
    float: none;
    margin: 0;
}
/* subsubmenus */
.hor_dropdown_menu ul ul {
    top:0.6em;
    left: 13em;
}
/* drop down effect voor alle menus */
.hor_dropdown_menu li:hover > ul {
    opacity: 1;
    visibility: visible;
}
/*geselecteerd menu element en hover effect*/

.hor_dropdown_menu .actief > a, .hor_dropdown_menu li:hover > a {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,fba6e1+50,fd89d7+51,ff7cd8+100;Pink+Gloss+%232 */
    background: #fcecfc; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcecfc 0%, #fba6e1 50%, #fd89d7 51%, #ff7cd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcecfc 0%,#fba6e1 50%,#fd89d7 51%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */

}